 <!-- Header -->
 <div class="navbar is-dark">
    <div class="navbar-brand">
      <img src="../../assets/img/JK_ROSTO_BRick.png" style="width: 50px; height: 60px;">
      <a class="navbar-item" routerLink="/">
        &nbsp;&nbsp;&nbsp;<div class="headerFont"> Welcome to my place! </div>
      </a>
    </div>
    <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item headerFont" routerLink="/about-me">About Me</a>
      <a class="navbar-item headerFont" routerLink="/resume">My Resume</a>
      <a class="navbar-item headerFont" routerLink="/contact">Contact</a>
    </div>
    </div>
    <div name="dvRedesTop" class="redes-sociais">
      <ul style="margin-right: 20px;">
          <li><a title="https://www.facebook.com/juscelino.alvesdecarvalho/" href="https://www.facebook.com/juscelino.alvesdecarvalho/" target="_blank" rel="noopener noreferrer"><img src="../../assets/img/FaceBook.png" /></a></li>
          <li><a title="https://www.linkedin.com/in/juscelino-carvalho/" href="https://www.linkedin.com/in/juscelino-carvalho/" target="_blank" rel="noopener noreferrer"><img src="../../assets/img/LinkedIn.png" /></a></li>
          <li><a title="https://www.instagram.com/jussa3lagoas/" href="https://www.instagram.com/jussa3lagoas/" target="_blank" rel="noopener noreferrer"><img src="../../assets/img/InstaGram.png" /></a></li>
      </ul>
  </div>
  </div>
