<section class="hero is-primary is-bold">
    <div class="hero-body is-halfheight " >
    <div class="container text-block"><br><br>
        I was born in Brazil in Mato Grosso do Sul state on April-1977<br />
        <br />
        I always loved to do things by myself like fixing cars, computers, and many other things
        <br />
        I can say that I'm adept at DIY (Do it yourself) practices
        <br />
        I'm divorced and I have a teenage son, his name is Ulysses.
        <br />
        My dream is to build some projects that help poor people, which can be a social financial project or <br />
        a social project technology.<br />
    </div>
  </div>

</section>








<!--
I was born in Brazil in the state of Mato Grosso do Sul in April-1977

I always loved to do things by myself like fix cars, computers, and many other things.

I can say that I'm adept at DIY (Do it yourself) practices.

I'm divorced and I have a teenage son,  his name is Ulysses.

My dream is to build some projects that help poor people, which can be a social financial project or a social project technology.
-->
