<!doctype html>
<html lang="en">
    <body>
        <div class="container" id="videos-natureza">
            <div id="acampamento" class="filmes">
                <h1>Acampamento da Pescaria</h1>
                <video muted id="videoAcampamento" controls preload="auto">
                    <source src="{{videoSourceAcampamento}}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div id="jussa-sal" class="filmes">
                <h1>Sal Novilhas</h1>
                <video  controls preload="auto">
                    <source [src]="videoSourceGado" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div id="jussa-cavalinho" class="filmes">
                <h1>Eu Cavalinho</h1>
                <video controls preload="auto">
                    <source [src]="videoSourceCavalinho" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div id="uly-motinha" class="filmes">
                <h1>Ulysses de Motinha</h1>
                <video controls preload="auto">
                    <source [src]="videoSourceUlyMoto" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </body>
</html>



