<!doctype html>
<html lang="en">
    <body>
        <div class="container" id="videos-mechanics">
            <div id="outback-dash-1" class="filmes">
                <h1>Subaru Outback Painel 1</h1>
                <video muted id="outback-dash-1" controls preload="auto">
                    <source src="{{videoSubaruOutbackDash1}}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div id="outback-dash-2" class="filmes">
                <h1>Subaru Outback Painel 2</h1>
                <video controls preload="auto">
                    <source [src]="videoSubaruOutbackDash2" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div id="outback-dash-3" class="filmes">
                <h1>Subaru Outback Painel 3</h1>
                <video controls preload="auto">
                    <source [src]="videoSubaruOutbackDash3" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div id="outback-suspensao-dianteira" class="filmes">
                <h1>Troca Suspensao Dianteira Outback</h1>
                <video controls preload="auto">
                    <source [src]="videoSubaruOutbackSuspensaoDianteira" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div id="outback-bucha-traseira" class="filmes">
                <h1>Troca Bucha Traseira Outback</h1>
                <video controls preload="auto">
                    <source [src]="videoSubaruOutbackBuchaTraseira" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div id="porsche-thiago" class="filmes">
                <h1>Porsche Cayman S</h1>
                <video controls preload="auto">
                    <source [src]="videoPorcheTiago" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </body>
</html>



