<!doctype html>
<html lang="en">
    <body>
        <div class="container" id="videos-aviation">
            <div id="lancha" class="filmes">
                <h1>Phenom 100 EMBRAER</h1>
                <video muted id="embraer-phenom-100" controls>
                    <source src="{{videoPhenom100}}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div id="decolagem-cessna-210" class="filmes">
                <h1>Decolagem Cessna 210 para Fazenda Barra Bonita - MS</h1>
                <video controls>
                    <source [src]="videoDecolagemCessna210" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div id="jussa-pousando-skylane" class="filmes">
                <h1>Jussa Poussando Skylane</h1>
                <video controls>
                    <source [src]="videoJussaPousoSkylane" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </body>
</html>



