<!doctype html>
<html lang="en">
    <body>
        <div class="container" id="dv-vd-rcn-part1">
            <div id="lancha" class="filmes">
                <h1>Entrevista RCN Parte 1</h1>
                <video muted id="vd-rcn-part1" controls>
                    <source src="{{RCNPart1}}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div id="dv-vd-rcn-part2" class="filmes">
                <h1>Entrevista RCN Parte 2</h1>
                <video controls>
                    <source [src]="RCNPart2" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div id="dv-radio-cacula1" class="filmes">
                <h1>Entrevista Radio Cacula</h1>
                <video controls>
                    <source [src]="RadioCacula1" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div id="dv-rcn-full" class="filmes">
                <h1>Entrevista Radio RCN</h1>
                <video controls>
                    <source [src]="RCNFull" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </body>
</html>



