<section class="hero is-primary is-bold" >
    <div class="hero-body is-halfheight" >
    <h1 class="title">
      <div class="title" style="font-weight: bold;"> Jussa's Home Page
      </div>
      <div class="bodytext">
        This site was built to show a little abaout me, my profissional experience<br>
        and things that I like on my life<br>
        and also to learn how to create a website with angular and <br>
        practice knowledg of html and css. Obs.: I'm not a developer! :) 
        <br>---<br>
        > Use toolbar "Welcome to My Place" to back to Home page.<br><br>
        > "About Me" link has a litle description about myself.<br><br>
        > "My Resume" has my updated resume.<br><br>
        > "Contact" not working yet, but in the future maybe<br>
        i'll create an e-mail sender on it.<br><br>
        > On the images below, you can click on each picture <br>
        to access my videos about each respectively subject.
      </div>
    </h1>
    <!--
    <div class="img-blur-wrap" appRandomBackgroundImg [imagesList]="bgImagesList" >
      <div class="img-blur-bg">
        <div class="img-blur">  
        </div>
      </div>
    </div>
   --> 
    
    <div class="container">
        <div class="gallery">
          <ul style="margin-left: 9em;">
          <a routerLink="/aviation">
            <li>A</li>
            <li>B</li>
            <li>C</li>
            <li>D</li>
            <li>E</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
          </a>
          </ul>
          <ul>
            <a routerLink="/mechanics">
              <li>A</li>
              <li>B</li>
              <li>C</li>
              <li>D</li>
              <li>E</li>
              <li>6</li>
              <li>7</li>
              <li>8</li>
              <li>9</li>
            </a>
          </ul>
          <ul style="margin-right: 25em;">
            <a routerLink="/nautic">
              <li>A</li>
              <li>B</li>
              <li>C</li>
              <li>D</li>
              <li>E</li>
              <li>6</li>
              <li>7</li>
              <li>8</li>
              <li>9</li>
            </a>
          </ul>
          <ul>
            <a routerLink="/music">
              <li>A</li>
              <li>B</li>
              <li>C</li>
              <li>D</li>
              <li>E</li>
              <li>6</li>
              <li>7</li>
              <li>8</li>
              <li>9</li>
            </a>
          </ul>
          <ul>
            <a routerLink="/entrevistas">
              <li>A</li>
              <li>B</li>
              <li>C</li>
              <li>D</li>
              <li>E</li>
              <li>6</li>
              <li>7</li>
              <li>8</li>
              <li>9</li>
            </a>
          </ul>
          <ul>
            <a routerLink="/nature">
              <li>A</li>
              <li>B</li>
              <li>C</li>
              <li>D</li>
              <li>E</li>
              <li>6</li>
              <li>7</li>
              <li>8</li>
              <li>9</li>
            </a>
          </ul>
        </div>
      </div>
    </div>  
</section>
