<!doctype html>
<html lang="en">
    <body>
        <div class="container" id="videos-aviation">
            <div id="uly-jussa-amigos-para-sempre" class="filmes">
                <h1>Ulysses e Papai, Amigos Para Sempre</h1>
                <video muted controls>
                    <source src="{{videoUlyPapai}}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div id="uly-o-papa-eh-pop" class="filmes">
                <h1>Ulysses o Papa é POP</h1>
                <video controls>
                    <source [src]="videoUlyPapaPop" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div id="jussa-confortable-numb" class="filmes">
                <h1>Jussa - Confortable Numb - Pink Floyd</h1>
                <video controls>
                    <source [src]="videoJussaConfortableNumb" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div id="jussa-stand-by-me" class="filmes">
                <h1>Jussa - Stand By Me</h1>
                <video controls>
                    <source [src]="videoJussaStandByMe" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div id="jussa-dirceus-durval" class="filmes">
                <h1>Jussa, Dirceu, Durval e Dirceuzinho</h1>
                <video controls>
                    <source [src]="videoDirceuDurval" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div id="jussa-loosing-my-religion" class="filmes">
                <h1>Jussa - Loosing My Religion</h1>
                <video controls>
                    <source [src]="videoJussaLoosingMyReligion" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div id="jussa-super-fantastico" class="filmes">
                <h1>Jussa - Super Fantástico</h1>
                <video controls>
                    <source [src]="videoJussaSuperFantastico" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>


            <div id="luis-gonzaga" class="filmes">
                <h1>Fazenda - Luis Gonzaga</h1>
                <video controls>
                    <source [src]="vdLuisGonzaga" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div id="sanfona-branca" class="filmes">
                <h1>Fazenda - Sanfona Branca</h1>
                <video controls>
                    <source [src]="vdSanfonaBranca" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div id="cel-antonio-bento" class="filmes">
                <h1>Fazenda - Coronel Antonio Bento</h1>
                <video controls>
                    <source [src]="vdCelAntonioBento" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div id="preciso-acabar-logo-com-isso" class="filmes">
                <h1>Fazenda - Preciso Acabar Logo Com Isso (R.C.)</h1>
                <video controls>
                    <source [src]="vdPrecisoAcabarLogoComIsso" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div id="musica-fazenda" class="filmes">
                <h1>Fazenda - A música mais linda.</h1>
                <video controls>
                    <source [src]="vdMusicaFazenda" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </body>
</html>